body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.carousel {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 100%;
    border-radius: 10px;
}
